argparse==1.2.1
blinker==1.3
boto==2.9.7
invoke==0.5.1
ipython==0.13.2
jellyfish==0.2.0
mongoengine==0.8.4
ordered-set=1.1
pymongo==2.5.2
requests==1.2.3
scrapelib==0.9.0
wsgiref==0.1.2
nameparser==0.2.7
unicodecsv==0.9.4
us==0.7
BeautifulSoup
